extends layout

block content
  div.survey
    h1 Tell your friend that they matter.
    br
    h2 Are you concerned about your friend who may be in an unhealthy relationship?
    h3 Start a conversation with them and get them the help they need by sending them a quiz customized just for them.
    a(href='/help-a-friend') Get started here.