extends layout

block content
  div.survey
    h3 Read each story and select how you feel about the relationship.
    br

    form(action='/post-survey/'+id, method='post', id='survey')
      each story, i in scenarios
        .panel.panel-default
          .panel-body
            p #{story}
            .checkbox
              label
                input(type='checkbox', name='surveychoice', value='healthy', scenario=i)
                | Healthy
            .checkbox
              label
                input(type='checkbox', name='surveychoice', value='unhealthy', scenario=i)
                | Unhealthy
            .checkbox
              label
                input(type='checkbox', name='surveychoice', value='depends', scenario=i)
                | Depends
                br
                br

      input(type='submit', value='Submit')