extends layout

block content
  form(action='/post-survey/'+id, method='post', id='survey')
    each story, i in scenarios
      p #{story}
      br
      .checkbox
        label
          input(type='checkbox', name='surveychoice', value='healthy', scenario=i)
          | Healthy
      .checkbox
        label
          input(type='checkbox', name='surveychoice', value='unhealthy', scenario=i)
          | Unhealthy
      .checkbox
        label
          input(type='checkbox', name='surveychoice', value='depends', scenario=i)
          | Depends
    input(type='submit', value='Submit')