extends layout

block content
  div.survey

    h3 You rated the following stories as either "healthy" or "depends." However, it's important to know that the behaviors in these stories are signs of an unhealthy relationship.
    br

    each result, i in results
      .panel.panel-default
        .panel-body
          p #{result[0]}
          <b><i> #{result[1]}</b></i>
          br
          br

    br
    br

    h3 All the unhealthy signs you read about in this quiz were concerns that your friend had about your relationship.
    br
    br
    h4 You can find more information and resources on how to cope with an unhealthy relationship here:
      br
      br
      a(href='http://www.cityofchicago.org/city/en/depts/fss/provdrs/dom_violence/svcs/domestic_violencehelpline.html ') City of Chicago Domestic Violence Hotline: (877) 863-6338
      br 
      a(href='http://www.thehotline.org/') National Domestic Violence Hotline: (800) 799-SAFE
      br
      a(href='http://www.breakthecycle.org/') Break the Cycle
      br
      a(href='http://www.loveisrespect.org/') Love is Respect
      br
      a(href='http://www.victimsofcrime.org/') National Center for Victims of Crime
